#logo {
	opacity: 0.4;
	margin-left: 50%;
}

#logo:hover {
	opacity: 1;
}

.navbar {
	margin-bottom: 0;
	opacity: 0.9;
}

.navbar-brand {
}

.navbar-nav {
	margin-left: 5%;
}


#title {
	text-align: center;
	color: #FFF;
}

.banner {
	background-color: #519ABB;
	margin-bottom: 3%;
	height: 260px;
}

.panel {
}

.panel-heading {
	height: 50px;
    color: #333;
	background-color: #f5f5f5;
}

.panel a {
	text-decoration: none;
}

.panel-title {
	font-size: 20px;	
}

.panel-body a {
	text-decoration: underline;
}

.panel-heading h4:after {\
	width: 100%;
    font-family:'Glyphicons Halflings';
    font-size: 20px;
    content:"\e114";
    float: right;
}

.collapsed h4:after {
    content:"\e080";
}

#request-warning {
	text-align: center;
}

#request_form {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#popup_form,
#popup_form_wrapper,
#popup_form_background {
  transition: all 0.3s;
}

#github_form,
#github_form_wrapper,
#github_form_background {
  transition: all 0.3s;
}